pyrogram==2.0.106
TgCrypto==1.2.5
gTTS==2.5.1
yt-dlp==2024.08.06
ffmpeg-python==0.3.0
aiohttp==3.8.4
python-dotenv==1.0.0
rich==13.3.0
pyaes==1.6.1
av==10.0.0

# Pytgcalls dev branch (av10 compatible)
git+https://github.com/pytgcalls/pytgcalls@dev
